html,
body {
	overflow-x: hidden;
}

body {
	background-color: #FBFBFB;
	position: relative;
	font-family: "Maven-Pro-Regular";
	color: #000000;
}

/* Font */
@font-face {
	font-family: "Butler-Bold";
	src: url(./assets/font/Butler-Bold.woff2) format('woff2');
}

@font-face {
	font-family: "Maven-Pro-Bold";
	src: url(./assets/font/Maven-Pro-Bold.woff2) format('woff2');
}

@font-face {
	font-family: "Maven-Pro-Regular";
	src: url(./assets/font/Maven-Pro-Regular.woff2) format('woff2');
}

/* Butler Bold */
.hero-title,
.section2-title,
.what-card-title,
.section3-title,
.sec3-card-title,
.section4-title,
.section5-title,
.our-work-title,
.form-title,
.social-media,
.about-hero-title,
.about-hero-title-m,
.hero-card-title,
.about-sec2-title,
.about-sec2-card-title,
.about-sec3-title,
.services-hero-title,
.services-hero-card-title,
.services-sec2-card-title,
.contact-hero-title,
.contact-hero-form-title,
.contact-sec2-title,
.blog-hero-title,
.blog-hero-card-title,
.blog-sec2-title,
.blog-sec2-card-big-title,
.blog-sec2-card-mid-title,
.blog-sec2-card-sm-title,
.blog-sec3-form-title {
	font-family: "Butler-Bold";
}

/* Navbar */

.navbar {
	height: 70px;
	padding: 15px 0px;
	background: #FBFBFB;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
}

.scrolled {
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
}

.navbar-brand {
	padding-top: 0px;
	padding-left: 85px;
}

.nav-link {
	color: #000000 !important;
	font-size: 20px;
	line-height: 23px;
	margin-right: 83px;
}

.nav-link:nth-child(4) {
	margin-right: 65px;
}

.nav-link:hover {
	font-family: "Maven-Pro-Bold";
}

.nav-active {
	font-family: "Maven-Pro-Bold";
	transform: translate(0px, -1px);
}

.nav-active::after {
	content: '';
	display: block;
	background-color: #000000;
	width: 5px;
	height: 5px;
	margin: auto;
	margin-top: 7px;
	margin-bottom: -6px;
	border-radius: 2.5px;
}

.navbar-toggler-icon {
	background-image: url('./assets/navbar/ic-navbar-toggler.svg') !important;
}

/* Hero */

.bg-oval {
	position: absolute;
	left: -0px;
	top: -100px;
	z-index: -100;
}

.bg-dots {
	position: relative;
	left: 1000px;
	top: 720px;
	mix-blend-mode: normal;
	opacity: 0.7;
}

.hero {
	margin-top: -90px;
	position: relative;
	min-height: 100vh;
}

.hero-text {
	background-color: #FFFFFF;
	width: 484px;
	min-height: 417px;
	padding: 40px 43px;
}

.hero-title {
	width: 397px;
	font-size: 56px;
	line-height: 64px;
	text-align: left;
}

.hero-banner-m {
	margin-left: -30px;
	width: 100%;
}

.hero-line {
	margin-top: 36px;
	margin-bottom: 30px;
	height: 4px;
	width: 110px;
	background-color: #000000;
	display: block;
}

.hero-paragraph {
	width: 400px;
	text-align: left;
	font-size: 16px;
	line-height: 24px;
}

.hero-btn {
	width: 240px;
	height: 60px;
	color: #FFFFFF;
	background-color: #FF6A6A;
	border-radius: 0px;
	margin-top: 80px;
	padding-top: 17px;
	padding-left: 47px;
	text-align: left;
	position: relative;
	transition: .4s;
}

.hero-btn:hover {
	color: #FFFFFF;
	opacity: 0.9;
	transform: translate(0, -10px);
	box-shadow: 0 3px 12px #FF6A6A;
}

.arrow {
	width: 60px;
	height: 60px;
	text-align: center;
	padding-top: 17px;
	top: -1px;
	right: -1px;
	position: absolute;
	background-color: #FF9C9C;
}

.arrow img {
	width: 20px;
	height: 20px;
}

.hero-banner {
	position: absolute;
	top: 148px;
	left: 600px;
	box-shadow: 0px 90px 100px rgba(1, 71, 177, 0.291185);
}

/* Section 2 */

.section2 {
	margin-top: 188px;
	position: relative;
}

.bg-dots2 {
	position: absolute;
	left: 0;
	top: 1700px;
	z-index: -10;
}

.bg-rectangle {
	position: absolute;
	top: 1140px;
	right: -30px;
	z-index: -10;
}

.section2-title {
	font-size: 56px;
	line-height: 70px;
}

.section2-line {
	width: 120px;
	height: 8px;
	display: block;
	margin-top: 20px;
	background-color: #000000;
}

.section2-card-wrapper {
	margin-top: 114px;
}

.what-card {
	max-width: 246px;
	margin-right: 10px;
	background-color: transparent;
	border: none !important;
}

.what-card-ic {
	width: 72px;
	height: 72px;
	margin: 0px auto 26px 0px;
}

.what-card-title {
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 13px;
}

.what-card-text {
	width: 220px;
	font-size: 16px;
	text-align: left;
	line-height: 22px;
	letter-spacing: 1.4px;
}

/* Section 3 */

.section3 {
	margin-top: 226px;
	min-height: 900px;
}

.sec3-bg-dots {
	position: absolute;
	z-index: -100;
	top: 2350px;
	left: 450px;
}

.section3-header {
	background-color: #FFFFFF;
	width: 440px;
	height: 280px;
	padding: 32px 40px;
	position: relative;
}

.section3-banner {
	position: absolute;
	right: 0;
	bottom: -580px;
	z-index: -10;
}

.section3-title {
	font-size: 40px;
	line-height: 64px;
	margin-bottom: 56px;
}

.section3-subtitle {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1.6px;
}

.sec3-card {
	background-color: #FFFFFF;
	padding: 30px 30px;
	border: none;
	height: 320px;
	margin-bottom: 36px;
	transition: .3s !important;
	z-index: 1;
}

.sec3-card:hover {
	transform: translate(0, -10px) !important;
	box-shadow: 0px 2px 100px rgba(0, 0, 0, 0.1);
}

.sec3-card-ic {
	width: 72px;
	height: 72px;
	margin-bottom: 26px;
}

.sec3-card-title {
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 2.1px;
}

.sec3-card-text {
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1.4px;
}

/* Section 4 */

.section4 {
	margin-top: -90px;
}

.bg-4-dots {
	margin-top: 100px;
	z-index: -10;
}

.bg-4-left {
	position: absolute;
	left: -30px;
	margin-top: 200px;
	z-index: -12;
}

.bg-4-right {
	position: absolute;
	right: 0;
	top: 2350px;
	z-index: -10;
}

.section4-title {
	width: 280px;
	font-size: 56px;
	line-height: 64px;
	margin: 0px auto 40px;
}

.section4-title::after {
	content: '';
	display: block;
	border-bottom: 6px solid #000000;
	width: 180px;
	padding-top: 30px;
	margin-left: 0px;
}

.our-client {
	width: auto;
	margin-top: 140px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}

.client-img {
	max-width: 250px;
}

.our-client-2 {
	margin-top: 148px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* Section 5 */

.section5 {
	margin-top: 180px;
}

.bg-dots5 {
	position: absolute;
	right: -185px;
	top: -60px;
	z-index: -10;
}

.bg-dots5-2 {
	position: absolute;
	left: -90px;
	top: 370px;
	z-index: -10;
}

.section5-title {
	font-size: 56px;
	line-height: 64px;
	display: inline;
	margin-right: 100px;
}

.section5-line {
	background-color: #000000;
	height: 8px;
	width: 140px;
	display: inline-block;
}

.our-work-content {
	padding-left: 105px;
	padding-top: 153px;
}

.our-work-card {
	width: 400px;
	height: 450px;
	margin-bottom: 300px;
	border-radius: 0;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.card-img-top {
	border-radius: 0;
}

.our-work-title {
	font-size: 24px;
	line-height: 29px;
	margin-top: 28px;
	margin-bottom: 14px;
}

.our-work-text {
	max-width: 374px;
	height: 96px;
	font-size: 14px;
	line-height: 24px;
}

.btn-learn-more {
	width: 220px;
	height: 65px;
	top: 25px;
	left: 230px;
	color: #FFFFFF;
	background-color: #FF6A6A;
	border-radius: 0px;
	padding-top: 12px;
	padding-left: 47px;
	text-align: left;
	position: relative;
	transition: .4s;
}

.btn-learn-more:hover {
	color: #FFFFFF;
	opacity: 0.9;
	transform: translate(0, -10px);
	box-shadow: 0 3px 12px #FF6A6A;
}

.arrow-learn {
	width: 50px;
	height: 50px;
	text-align: center;
	padding-top: 12px;
	top: -1px;
	right: -1px;
	position: absolute;
	background-color: #FF9C9C;
}

/* Section 6 */

.section6 {
	margin-top: 180px;
	margin-bottom: 300px;
}

.bg-oval6 {
	position: absolute;
	right: 0;
	top: 4600px;
	z-index: -10;
}

.bg-form {
	position: absolute;
	right: 508px;
	bottom: 0;
	z-index: 1;
}

.bg-dots6 {
	position: absolute;
	left: 200px;
	z-index: -10;
	top: 5530px;
}

.form-wrapper {
	background-color: #FFFFFF;
	max-width: 960px;
	min-height: 680px;
	margin: auto;
	padding: 40px;
	position: relative;
	box-shadow: 0px 150px 201px rgba(192, 192, 192, 0.5);
}

.form-title {
	font-size: 56px;
	line-height: 64px;
}

.form-label {
	display: block;
	margin-top: 30px;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 1.4px;
	color: #9B9B9B;
}

.form-input {
	width: 369px;
	height: 56px;
	padding: 20px;
}

.form-input::placeholder,
.form-textarea::placeholder {
	color: #cccccc;
	font-family: "Maven-Pro-Regular";
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 1.4px;
}

.form-textarea {
	overflow: hidden;
	padding: 20px;
	text-align: left;
	width: 369px;
}

.btn-submit {
	width: 220px;
	height: 60px;
	color: #FFFFFF;
	position: absolute;
	background-color: #FF6A6A;
	border-radius: 0px;
	bottom: -105px;
	right: -25px;
	padding-top: 17px;
	padding-left: 53px;
	text-align: left;
	transition: .4s;
}

.btn-submit:hover {
	color: #FFFFFF;
	opacity: 0.9;
	transform: translate(0px, -10px);
	box-shadow: 0 3px 12px #FF6A6A;
}

/* Footer */

.footer {
	z-index: 1;
}

.social-media {
	font-size: 36px;
	line-height: 64px;
	text-align: center;
}

.social-media-icons {
	margin-top: 50px;
}

.ic-social {
	display: inline-flex;
	width: 24px;
	height: 24px;
	cursor: pointer;
	transition: .4s;
}

.ic-social:hover {
	transform: translate(0px, -10px);
}

.copyright {
	font-size: 14px;
	line-height: 16px;
	margin-top: 70px;
	padding-bottom: 60px;
}



/* ABOUT PAGE */

/* About Hero */

.about-hero-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background-size: cover;
	z-index: -10;
}

.about-bg-dots {
	position: absolute;
	right: 15px;
	top: 820px;
	z-index: -20;
}

.about-hero {
	margin-top: 160px;
}

.about-hero-title {
	font-size: 56px;
	line-height: 70px;
	text-align: center;
	padding-bottom: 68px;
}

.about-hero-text {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1.6px;
	text-align: center;
	max-width: 600px;
	margin: auto;
}

.hero-card-wrapper {
	width: 760px;
	margin: 202px auto 0px;
}

.hero-card {
	border-radius: 0;
	padding: 40px;
	width: 300px;
	height: 260px;
	box-shadow: 0px 2px 100px rgba(0, 0, 0, 0.1);
	transition: .4s;
}

.hero-card:hover {
	transform: translate(0px, -15px) !important;
	z-index: 1;
	box-shadow: 0px 5px 100px rgba(0, 0, 0, 0.3);
}

.card2 {
	margin-top: 180px;
}

.card3 {
	margin-top: -50px;
}

.hero-card-title {
	padding-bottom: 30px;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 2.1px;
}

.hero-card-text {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1.6px;
}

/* About Section 2 */

.about-section2 {
	margin-top: 342px;
	min-height: 2370px;
}

.bg-about-sec2-left {
	position: absolute;
	left: 0;
	z-index: -10;
}

.bg-about-sec2-center {
	position: absolute;
	left: 140px;
	top: 2900px;
	z-index: -10;
}

.bg-about-sec2-center-top {
	position: absolute;
	left: 400px;
	top: 1730px;
	z-index: -10;
}

.bg-about-sec2-center-bottom {
	position: absolute;
	left: 570px;
	top: 3320px;
	z-index: -10;
}

.bg-about-sec2-right {
	position: absolute;
	right: 0;
	top: 1300px;
	z-index: -10;
}

.about-sec2-title {
	font-size: 56px;
	line-height: 67px;
	display: inline-block;
	margin-right: 53px;
}

.about-section2-line {
	width: 150px;
	height: 8px;
	background-color: #000000;
	display: inline-block;
	margin-bottom: 10px;
}

.about-sec2-card-wrapper {
	margin-top: 30px;
}

.about-sec2-card {
	background-color: #FFFFFF;
	width: 430px;
	height: 400px;
	border-radius: 0;
	padding: 180px 30px 30px;
	position: relative;
}

.about-sec2-card-img {
	position: absolute;
	left: 0;
	bottom: 250px;
}

.about-sec2-card-title {
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 10px;
}

.about-sec2-card-text {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1.4px;
}

.sec2-card-icon-wrapper {
	justify-content: center;
	padding-top: 62px;
}

.sec2-card-ic {
	width: 24px;
	height: 24px;
	margin-right: 40px;
	cursor: pointer;
	transition: .4s;
}

.sec2-card-ic:hover {
	transform: translate(0px, -10px);
}

.sec2-card1 {
	margin-top: 350px;
}

.sec2-card2 {
	margin-top: 612px;
}

.sec2-card3 {
	margin-top: 323px;
}

.sec2-card4 {
	margin-top: 552px;
}

/* About Section 3 */

.about-section3 {
	margin-top: 140px;
	margin-bottom: 200px;
	min-height: 930px;
}

.about-sec3-title {
	font-size: 56px;
	line-height: 67px;
	display: inline-block;
	margin-right: 70px;
}

.about-section3-line {
	width: 150px;
	height: 8px;
	background-color: #000000;
	display: inline-block;
	margin-bottom: 10px;
}

.about-sec3-text {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1.6px;
	max-width: 700px;
	margin: 60px auto 112px;
}

.about-sec3-img-wrapper {
	position: relative;
}

.about-sec3-img1 {
	position: relative;
	transition: .3s;
}

.about-sec3-img2 {
	position: absolute;
	left: 300px;
	top: 300px;
	transition: .3s;
}

.about-sec3-img3 {
	position: absolute;
	right: 100px;
	top: 100px;
	transition: .3s;
}

.about-sec3-img1:hover,
.about-sec3-img2:hover,
.about-sec3-img3:hover {
	z-index: 1;
}

/* SERVICES PAGE */

/* Services Hero */

.services-hero {
	margin-top: 160px;
}

.bg-service-hero-right {
	position: absolute;
	right: 0;
	z-index: -10;
}

.bg-services-hero-dots1 {
	position: absolute;
	right: 20px;
	top: 180px;
	z-index: -10;
}

.bg-services-hero-dots2 {
	position: absolute;
	left: 50px;
	top: 850px;
	z-index: -10;
}

.services-hero-header {
	padding-left: 110px;
}

.services-hero-title {
	font-size: 56px;
	line-height: 70px;
	width: 692px;
}

.services-hero-text {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1.6px;
	max-width: 600px;
	padding-top: 30px;
}

.services-hero-slider-wrapper {
	max-height: 700px;
}

.services-hero-card {
	position: relative;
	border-radius: 0;
	min-height: 560px;
	background-color: transparent;
}

.services-hero-slider-owl {
	margin-top: 60px;
}

.services-hero-card-owl{
	margin-top: 0px;
}

.services-hero-card-body {
	position: absolute;
	left: 0;
	bottom: 20px;
	width: 670px;
	padding: 30px;
	background-color: #FFFFFF;
}

.card1 {
	margin-left: 200px;
}

.services-hero-card-title {
	font-size: 34px;
	line-height: 41px;
}

.services-hero-card-text {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1.6px;
	max-width: 600px;
	font-family: "Maven-Pro-Regular";
}

.services-hero-card-img {
	position: absolute;
	width: 840px;
	bottom: 50px;
	left: 0;
	z-index: -10;
	background-size: cover;
	box-shadow: 0px 10px 60px rgba(1, 71, 177, 0.291185);
}

.arroww-wrapper {
	padding-right: 200px;
}

.arroww-left,
.arroww-right {
	width: 80px;
	height: 80px;
	cursor: pointer;
	transition: .3s;
}

.arroww-left:hover,
.arroww-right:hover {
	transform: scale(1.2);
}

/* Services Section 2 */

.services-section2 {
	margin-top: 140px;
	margin-bottom: 186px;
}

.services-sec2-card {
	border-radius: 0;
	background-color: transparent;
}

.ic-card-wrapper {
	width: 70px;
}

.services-sec2-card-title {
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 18px;
}

.services-sec2-card-text {
	max-width: 650px;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 1.6px;
}

.bg-footer {
	position: absolute;
	left: 0;
	bottom: 0;
}


/* CONTACT PAGE */

/* Contact Hero */

.contact-hero {
	margin-top: 160px;
	min-height: 750px;
}

.bg-contact-hero {
	position: absolute;
	right: -50px;
	top: 0;
	z-index: -10;
}

.bg-contact-hero-dots {
	position: absolute;
	right: 35px;
	top: 730px;
	z-index: -10;
}

.contact-hero-header {
	padding-left: 100px;
}

.contact-hero-title {
	font-size: 56px;
	line-height: 70px;
	width: 600px;
	margin-bottom: 20px;
}

.contact-hero-text {
	max-width: 600px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1.6px;
}

.contact-hero-img-wrapper {
	position: relative;
}

.contact-hero-img {
	position: absolute;
	left: 100px;
}

.contact-hero-bottom {
	margin-top: 42px;
}

.contact-hero-form {
	max-width: 542px;
	padding: 40px;
	background-color: #FFFFFF;
}

.contact-hero-form-title {
	font-size: 56px;
	line-height: 67px;
	margin-bottom: 22px;
}

.contact-hero-form-text {
	max-width: 446px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1.6px;
}

.form-subs {
	margin-top: 34px;
}

.form-subs label {
	margin-top: 15px;
	display: block;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 1.4px;
	color: #9B9B9B;
}

.form-subs input {
	display: block;
	width: 369px;
	height: 56px;
	padding: 20px;
	margin-bottom: 73px;
}

.form-subs input::placeholder {
	color: #cccccc;
}

.btn-subs {
	width: 230px;
	height: 70px;
	color: #FFFFFF;
	background-color: #FF6A6A;
	border-radius: 0px;
	padding-top: 22px;
	padding-left: 40px;
	text-align: left;
	position: relative;
	transition: .4s;
}

.btn-subs:hover {
	color: #FFFFFF;
	opacity: 0.9;
	transform: translate(0, -10px);
	box-shadow: 0 3px 12px #FF6A6A;
}

.arrow-btn-subs {
	width: 70px;
	height: 70px;
	text-align: center;
	padding-top: 22px;
	top: -1px;
	right: -1px;
	position: absolute;
	background-color: #FF9C9C;
}

/* Contact Section2 */

.contact-section2 {
	padding-top: 170px;
	margin-bottom: 120px;
}

.bg-contact-sec2 {
	position: absolute;
	left: -50px;
	top: 1200px;
	z-index: -10;
}

.bg-contact-sec2-dots {
	position: absolute;
	right: 10px;
	bottom: 600px;
	z-index: -10;
}

.contact-section2-heading {
	margin-bottom: 70px;
	padding-left: 140px;
}

.contact-sec2-title {
	font-size: 56px;
	line-height: 67px;
	display: inline-block;
	margin: 0px 50px 27px 0px;
}

.contact-section2-line {
	width: 210px;
	height: 8px;
	background-color: #000000;
	display: inline-block;
	margin-bottom: 10px;
}

.contact-sec2-text {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1.6px;
	max-width: 600px;
}

.contact-maps-detail {
	width: 840px;
	height: 560px;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.047243);
}


/* BLOG PAGE */

/* Blog Hero */

.blog-hero {
	margin-top: 160px;
}

.bg-blog-hero-left {
	position: absolute;
	left: 0;
	z-index: -10;
}

.bg-blog-hero-right {
	position: absolute;
	right: 0;
	top: 600px;
	z-index: -10;
}

.blog-category-wrapper {
	max-width: 836px;
	margin: 0px auto 96px;
}

.category-btn {
	font-size: 24px;
	line-height: 28px;
	transition: .3s;
	width: auto;
	padding: 5px 10px;
	cursor: pointer;
}

.category-btn:hover {
	background-color: #d1d1d1;
	border-radius: 20px;
	color: #000000;
}

.category-active {
	background-color: #d1d1d1;
	border-radius: 20px;
	color: #000000;
}

.blog-hero-title {
	font-size: 40px;
	line-height: 48px;
}

.glider-wrapper {
	padding-left: 0px;
}

.blog-hero-card-wrapper {
	margin-top: 30px;
	padding-left: 90px;
}

.blog-hero-card {
	width: 420px;
	min-height: 480px;
	padding: 15px;
	border-radius: 0;
	margin-left: 10px;
	background-size: cover;
}

.blog-hero-card-cat {
	position: absolute;
	left: 0;
	top: 0;
	max-width: 140px;
	height: 34px;
	padding: 10px;
	background-color: #FFFFFF;
}

.blog-hero-card-category {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 2px;
	font-family: "Maven-Pro-Regular";
}

.blog-hero-card-body {
	margin-top: 260px;
}

.blog-hero-card-title {
	font-size: 24px;
	line-height: 24px;
	color: #FFFFFF;
	margin-bottom: 14px;
}

.blog-hero-card-text {
	font-size: 15px;
	line-height: 18px;
	color: #FFFFFF;
	margin-bottom: 0;
	font-family: "Maven-Pro-Regular";
}

.blog-hero-card-bottom {
	margin-top: 30px;
	display: flex;
	font-family: "Maven-Pro-Regular";
}

.blog-hero-card-bot-text {
	color: #FFFFFF;
	font-size: 14px;
	line-height: 16px;
	padding-top: 5px;
	justify-content: flex-start;
	margin-right: auto;
}

.blog-hero-card-btn {
	text-decoration: none;
	display: inline-block;
	color: #FF6A6A;
	height: 20px;
	font-size: 14px;
	letter-spacing: 1.2px;
	justify-content: flex-end;
	transition: .3s;
}

.blog-hero-card-btn:hover {
	color: #FF6A6A;
	transform: translate(0px, -5px);
}

.blog-hero-card-arrow {
	padding-left: 10px;
}

/* Blog Section 2 */

.blog-section2 {
	margin-top: 314px;
}

.blog-sec2-title {
	font-size: 40px;
	line-height: 48px;
	margin-bottom: 30px;
}

.blog-sec2-card-big {
	max-width: 520px;
	min-height: 325px;
	background-color: #FFFFFF;
	border-radius: 0;
}

.blog-sec2-card-img-big,
.blog-sec2-card-img-mid,
.blog-sec2-card-img-sm {
	background-size: cover;
}

.card-small {
	max-height: 124px;
}

.blog-sec2-card-big-title,
.blog-sec2-card-mid-title,
.blog-sec2-card-sm-title {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 15px;
}

.blog-sec2-card-big-text {
	font-size: 14px;
	line-height: 18px;
}

.blog-sec2-card-bottom {
	margin-top: 0;
	height: 32px;
	display: flex;
	padding: 0px 20px;
}

.blog-sec2-card-bot-text {
	color: #9B9B9B;
	font-size: 14px;
	line-height: 16px;
	padding-top: 5px;
	justify-content: flex-start;
	margin-right: auto;
}

.blog-sec2-card-btn {
	text-decoration: none;
	display: inline-block;
	color: #FF6A6A;
	height: 20px;
	font-size: 14px;
	letter-spacing: 1.2px;
	justify-content: flex-end;
	transition: .3s;
}

.blog-sec2-card-btn:hover {
	color: #FF6A6A;
	transform: translate(0px, -5px);
}

.blog-sec2-card-mid {
	border-radius: 0;
	max-width: 260px;
	min-height: 325px;
}

.blog-sec2-card-mid-text {
	font-size: 14px;
	line-height: 18px;
	color: #4A4A4A;
	margin-bottom: 15px;
}

.card-blog-sec2-card-sm {
	background-color: #FFFFFF;
	max-width: 359px;
	min-height: 101px;
	margin-bottom: 30px;
}

.blog-sec2-card-img-sm {
	min-height: 101px;
}

.blog-sec2-card-sm-title {
	margin-bottom: 12px;
}

.see-all {
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 1.5px;
	position: absolute;
	bottom: 0;
	right: 15px;
	transition: .3s;
	cursor: pointer;
}

.see-all:hover {
	transform: translate(0px, -5px);
}

.bg-dots-blog-sec2 {
	position: absolute;
	left: 5px;
	top: 1375px;
	z-index: -10;
}

/* Blog Section 3 */

.blog-section3 {
	margin-top: 280px;
	margin-bottom: 142px;
}

.bg-blog-sec3 {
	position: absolute;
	left: 0;
	bottom: 100px;
	z-index: -10;
}

.blog-sec3-dots {
	position: absolute;
	right: 120px;
	bottom: 380px;
	z-index: -10;
}

.blog-sec3-content-wrapper {
	max-width: 960px;
	margin: auto;
}

.blog-sec3-form-wrapper {
	background-color: #FFFFFF;
	width: 542px;
	height: 529px;
	margin-left: 20px;
	padding: 15px 30px;
}

.blog-sec3-form-title {
	font-size: 56px;
	line-height: 70px;
	margin-bottom: 123px;
	max-width: 461px;
}

.blog-form-subs label {
	margin-top: 15px;
	display: block;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 1.4px;
	color: #9B9B9B;
}

.blog-form-subs input {
	display: block;
	width: 369px;
	height: 56px;
	padding: 20px;
	margin-bottom: 53px;
}

.blog-form-subs input::placeholder {
	color: #cccccc;
}

.blog-form-subs-btn {
	width: 230px;
	height: 70px;
	color: #FFFFFF;
	background-color: #FF6A6A;
	border-radius: 0px;
	padding-top: 22px;
	padding-left: 40px;
	text-align: left;
	position: relative;
	transition: .4s;
}

.blog-form-subs-btn:hover {
	color: #FFFFFF;
	opacity: 0.9;
	transform: translate(0, -10px);
	box-shadow: 0 3px 12px #FF6A6A;
}

.arrow-btn-blog-subs {
	width: 70px;
	height: 70px;
	text-align: center;
	padding-top: 21px;
	top: -1px;
	right: -1px;
	position: absolute;
	background-color: #FF9C9C;
}

/* DETAIL PAGE */

/* Detail Hero */

.detail-hero {
	margin-top: 160px;
}

.detail-news-wrapper {
	padding-top: 475px;
	position: relative;
}

.detail-content {
	padding: 40px 50px;
	background-color: #FFFFFF;
	max-width: 1000px;
	min-height: 1161px;
	position: relative;
}

.detail-days {
	font-size: 24px;
	line-height: 28px;
	color: #333333;
	margin-bottom: 26px;
}

.detail-title {
	font-family: "Butler-Bold";
	font-size: 52px;
	line-height: 62px;
	color: #333333;
	width: 977px;
	margin-bottom: 40px;
}

.detail-text {
	max-width: 992px;
	font-size: 18px;
	line-height: 34px;
	color: #4A4A4A;
}

.detail-hero-img {
	position: absolute;
	top: -475px;
	left: 0;
	z-index: -10;
	max-width: 1095px;
}

.detail-content-category {
	background-color: #FFFFFF;
	width: 200px;
	height: 48px;
	position: absolute;
	top: 0;
	left: 0;
}

.detail-category {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 2px;
	color: #000000;
}

.detail-bg-left {
	position: absolute;
	top: 400px;
	left: 0;
	z-index: -10;
}

.detail-bg-dots {
	position: absolute;
	left: 0;
	top: 1200px;
	z-index: -10;
}

.detail-bg-right {
	position: absolute;
	top: 500px;
	right: 0;
	z-index: -10;
}

.detail-comment-wrapper {
	background-color: #FFFFFF;
	max-width: 1000px;
	padding: 70px;
	min-height: 479px;
	margin-top: 85px;
	position: relative;
}

.bg-comment-right {
	position: absolute;
	right: 0;
	top: 1660px;
	z-index: -10;
}

.bg-comment-dots {
	position: absolute;
	left: -60px;
	top: -60px;
	z-index: -10;
}

.comment {
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 32px;
	display: block;
}

.comment-area {
	padding: 25px;
	font-size: 18px;
	line-height: 21px;
	width: 800px;
	min-height: 249px;
}

.comment-area::placeholder {
	color: #cccccc;
	text-align: left;
}

.detail-submit-btn {
	width: 240px;
	height: 60px;
	color: #FFFFFF;
	background-color: #FF6A6A;
	border-radius: 0;
	padding-top: 17px;
	padding-left: 65px;
	text-align: left;
	position: absolute;
	right: -60px;
	bottom: -30px;
	transition: .4s;
}

.detail-submit-btn:hover {
	color: #FFFFFF;
	opacity: 0.9;
	transform: translate(0, -10px);
	box-shadow: 0 3px 12px #FF6A6A;
}

.detail-btn-arrow {
	width: 60px;
	height: 60px;
	padding-top: 17px;
	text-align: center;
	top: -1px;
	right: -1px;
	position: absolute;
	background-color: #FF9C9C;
}

.detail-btn-arrow img {
	width: 20px;
	height: 20px;
}

/* Detail Section 2 */

.detail-section2 {
	margin-top: 200px;
}

.bg-detail-sec2-dots {
	position: absolute;
	left: -60px;
	bottom: -60px;
	z-index: -10;
}








/* Responsive */

@media (max-width: 1200px) {
	.hero-banner {
		left: 530px;
	}
	.section3-banner {
		right: 1px;
	}
	.services-hero-slider {
		padding-top: 50px;
	}
}

@media (max-width: 1100px) {
	.services-hero-card-body {
		width: 600px;
	}
}

@media (min-width: 992px) {
	.section3-banner-m {
		display: none;
	}
}

/* 991 Screen  */

@media (max-width: 991px) {
	/* Home */
	.navbar-toggler {
		margin-right: 50px;
		border: none;
	}
	.navbar-nav {
		margin-top: 14px;
		background: #FBFBFB;
		align-items: center; 
		padding-top: 50px;
		height: 100vh;
	}
	.nav-link {
		padding-bottom: 60px;
		margin-right: 0px;
	}
	.nav-link:nth-child(4) {
		margin-right: 0px;
	}
	.hero-banner {
		left: 620px; 
	}
	.bg-dots {
		left: 700px;
	}
	.bg-rectangle {
		top: 1440px;
	}
	.section3-banner {
		bottom: 0;
		display: none;
	}
	.section3-banner-m {
		display: block;
		position: absolute;
		bottom: 0;
		right: 150px;
		z-index: -10;
	}
	.section3-header {
		width: 360px;
		height: 233px;
		padding: 26px 34px;
		margin-left: 150px;
	}
	.section3-title {
		margin-bottom: 16px;
	}
	.sec3-card-wrapper {
		margin-top: 120px;
	}
	.section6 {
		margin-top: 0px;
	}
	.form-title {
		font-size: 52px;
	}
	.form-right {
		padding-left: 15px;
	}
	.form-input {
		width: 250px;
	}
	.form-textarea {
		width: 260px;
	}
	.bg-form {
		right: 400px;
	}
	.card1 {
		margin-left: 140px;
	}
	.contact-hero-header {
		padding-left: 0px;
	}
	.contact-hero-img {
		position: absolute;
		left: 0px;
	}
	.form-subs input {
		width: 300px;
		padding: 10px;
	}
	.contact-section2 {
		margin-bottom: 244px;
	}
	.contact-maps-detail {
		width: 640px;
		height: 360px;
		box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.047243);
	}

	/* About Page */
	
	.about-sec2-card {
		width: 336px;
	}
	.sec2-card-icon-wrapper {
		padding-top: 32px;
	}
	.about-sec2-card-img {
		width: 248px;
	}
	.bg-about-sec2-center-top,
	.bg-about-sec2-center-bottom {
		display: none;
	}
	.about-section3 {
		margin-bottom: 50px;
	}
	.about-sec3-img1 {
		width: 365px;
		left: 30px;
	}
	.about-sec3-img2 {
		width: 252px;
		left: 230px;
		top: 170px; 
	}
	.about-sec3-img3 {
		width: 252px;
		right: 70px;
		top: 50px;
	}
	.hero-card {
		position: absolute;
		width: 225px;
	}
	.hero-card1 {
		left: 50px;
	}
	.card2 {
		left: -50px;
	}
	.card3 {
		left: -130px;
	}
	.about-section2 {
		margin-top: 542px;
	}

	/* Services Page */

	.services-hero-header {
		padding-left: 10px;
	}
	.services-hero-title {
		font-size: 48px;
	}
	.arroww-wrapper {
		padding-right: 200px;
	}
	.services-hero-slider-owl {
		margin-top: -60px;
	}
	.services-hero-card-title {
		font-size: 24px;
	}
	.services-hero-card-body {
		width: 560px;
	}
	.owl-carousel .owl-item img {
		width: 400px;
	}


	/* Contact Page */

	.contact-section2-heading {
		padding-left: 30px;
	}
}

@media (max-width: 900px) {
	.hero-banner {
		left: 560px;
	}
	.jack {
		margin-right: 100px;
	}
	.toyota {
		margin-left: 100px;
	}
}

@media (max-width: 850px) {
	.our-work-content {
		padding-left: 50px;
	}
	.form-textarea {
		width: 250px;
	}
}

@media (max-width: 767px) {
	.hero-banner {
		left: 580px;
	}
	.section3 {
		margin-top: 250px;
	}
	.sec3-card-wrapper {
		margin-top: 60px;
	}
	.sec3-card {
		width: 300px;
		margin: 30px auto;
	}
	.section5-title {
		margin-right: 50px;
	}
	.client-img {
		width: 200px;
		margin-right: 30px;
	}
	.bg-form { 
		display: none; 
	}
	.form-wrapper {
		padding-bottom: 50px;
	}
	.form-right {
		padding-left: 0px;
	}
	.form-input {
		width: 100%;
	}
	.form-textarea {
		width: 100%;
	}
	.btn-submit {
		width: 200px;
		padding-left: 40px;
		bottom: -80px;
		right: 15px;
	}
	.bg-dots5-2 {
		top: 270px;
	}
	.bg-dots2,
	.bg-dots5,
	.bg-oval6,
	.bg-dots6 {
		display: none;
	}

	/* About Page */

	.about-hero-title,
	.about-hero-title-m,
	.about-sec2-title,
	.about-sec3-title {
		font-size: 48px;
	}
	.hero-card1 {
		left: 0px;
	}
	.card2 {
		left: -70px;
	}
	.card3 {
		left: -170px;
	}
	.about-section2 {
		min-height: 1800px;
	}
	.bg-about-sec2-left {
		top: 1500px;
	}
	.bg-about-sec2-right {
		display: none;
	}
	.about-sec2-card {
		width: 250px;
		height: 360px;
		padding: 140px 30px 30px;
	}
	.about-sec2-card-img {
		width: 200px;
	}
	.sec2-card1 {
		margin-top: 250px;
	}
	.sec2-card2 {
		margin-top: 512px;
	}
	.sec2-card3 {
		margin-top: 123px;
	}
	.sec2-card4 {
		margin-top: 352px;
	}
	.about-sec3-img1 {
		left: -20px;
	}
	.about-sec3-img2 {
		left: 190px;
	}
	.about-sec3-img3 {
		right: -20px;
	}

	/* Contact Page */

	.contact-hero-title,
	.contact-hero-form-title,
	.contact-sec2-title {
		font-size: 48px;
	}
	.contact-hero-title {
		width: 400px;
	}
	.contact-section2-heading {
		padding-left: 10px;
	}
	.contact-sec2-title {
		margin-right: 20px;
	}
	.contact-hero-img {
		left: -300px;
	}
	.contact-hero-form {
		width: 450px;
	}
	.contact-section2-line {
		height: 6px;
		width: 160px;
	}
	.contact-maps-detail {
		max-width: 500px;
	}
}

@media (min-width: 601px) {
	.hero-banner-m {
		display: none;
	}
}

@media (max-width: 600px) {
	.hero-title {
		margin-bottom: 20px;
	}
	.hero-text {
		background-color: transparent;
	}
	.hero-banner {
		display: none;
	}
	.hero-banner-m {
		display: block;
		padding-left: 30px;	
	}
	.hero-btn {
		margin-top: 0;
		margin-left: 40px;
	}
	.bg-oval,
	.bg-rectangle,
	.bg-4-left,
	.bg-4-right {
		display: none;
	}
	.section4 {
		margin-top: 140px;
	}
	.our-client {
		padding-left: 40px;
	}
	.bg-4-dots {
		display: none;
	}
	.bg-4-left {
		left: -100px;
	}
	.bg-4-right {
		top: 3330px;
		right: -200px;
	}
}

@media (min-width: 576px) {
	.hero-card-wrapper-m {
		display: none;
	}
}

@media (max-width: 575px) {
	.hero-title,
	.section2-title,
	.section3-title,
	.section4-title,
	.section5-title,
	.form-title {
		font-size: 36px;
		line-height: 50px;
	}
	.section2-line,
	.section4-title::after,
	.section5-line {
		height: 4px;
		width: 120px;
	}
	.section4-title::after {
		border-bottom: 4px solid #000000;
	}
	.hero {
		margin-top: -150px;
	}
	.hero-paragraph {
		width: 340px;
	}
	.section2-header {
		padding-left: 30px;
	}
	.section2-card-wrapper {
		padding-left: 30px;
	}
	.section3 {
		margin-top: 200px;
	}
	.section3-banner-m {
		position: absolute;
		bottom: -409px;
		right: -100px;
	}
	.section3-header {
		background-color: transparent;
		margin-left: 0;
	}
	.sec3-bg-dots {
		display: none;
	}
	.sec3-card-wrapper {
		margin-top: 440px;
	}
	.section4-title {
		margin: 0px 30px;
	}
	.client-img {
		width: 150px;
	}
	.section5-heading {
		padding-left: 30px;
	}
	.section5-line {
		display: block;
		margin-top: 30px;
	}
	.sec5-arrow-wrapper {
		display: block;
		text-align: right;
		padding-right: 30px;
		padding-top: 30px;
	}
	.sec5-arrow-wrapper img {
		width: 30px;
		height: 30px;
		margin-right: 10px;
	}
	.our-work-content {
		padding-top: 70px;
		padding-left: 30px;
	}

	/* About Page */

	.about-hero-title-m {
		line-height: 70px;
		text-align: center;
		padding-bottom: 68px;
	}
	.hero-card-wrapper,
	.about-hero-bg,
	.about-bg-dots,
	.bg-about-sec2-left,
	.bg-about-sec2-center,
	.bg-about-sec2-center-top,
	.bg-about-sec2-center-bottom,
	.bg-about-sec2-right {
		display: none;
	}
	.hero-card-wrapper-m {
		margin: 63px auto 0px;
	}
	.hero-card {
		position: relative;
	}
	.hero-card1,
	.card2,
	.card3 {
		width: 400px;
		top: 0;
		left: 0;
		margin: 50px auto 0px;
	}
	.about-section2 {
		margin-top: 242px;
	}
	.bg-about-sec2-left {
		top: 1620px;
	}
	.about-sec2-card {
		margin: 240px auto 0px;
	}
	.about-sec3-img1 {
		left: 50px;
	}
	.about-sec3-img2 {
		left: 170px;
	}
	.about-sec3-img3 {
		right: 50px;
	}

	/* Contact Page */

	.contact-hero-text {
		max-width: 450px;
	}
	.contact-hero-img {
		position: relative;
		left: 0px;
		width: 450px;
	}
	.contact-hero-header,
	.contact-hero-img-wrapper,
	.contact-hero-form-right,
	.contact-section2-heading {
		padding-left: 15px;
	}
	.contact-hero-form {
		background-color: transparent;
	}
	.bg-contact-hero,
	.bg-contact-hero-dots,
	.bg-contact-sec2,
	.bg-contact-sec2-dots {
		display: none;
	}
	.contact-hero-form {
		padding: 50px 0px;
	}
	.contact-section2 {
		margin-bottom: 50px;
	}
	.contact-maps-detail {
		max-width: 470px;
	}
}

@media (max-width: 500px) {

	/* About Page */
	.about-sec3-title {
		margin-right: 30px;
	}
	.about-sec3-img1 {
		width: 300px;
	}
	.about-sec3-img2 {
		width: 200px;
		top: 150px;
	}
	.about-sec3-img3 {
		width: 220px;
	}
	/* Contact Page */

	.contact-hero-img {
		max-width: 440px;
	}
	.contact-maps-detail {
		max-width: 400px;
	}
}

@media (max-width: 450px) {
	.navbar-brand {
		padding-left: 30px;
	}
	.navbar-toggler {
		margin-right: 20px;
	}
	.navbar-toggler-icon {
		width: 20px;
		height: 20px;
	}
	.hero-text {
		padding: 30px 15px;
	}
	.hero-banner-m {
		width: 350px;
	}
	.hero-paragraph {
		width: 328px;
	}
	.hero-btn {
		width: 200px;
		height: 50px;
		padding-top: 11px;
		padding-left: 30px;
		margin-left: 15px;
	}
	.hero-btn .arrow {
		width: 50px;
		height: 50px;
		padding-top: 11px;
	}
	.section2-header,
	.section2-card-wrapper,
	.section3-header {
		padding-left: 15px;
	}
	.sec3-card {
		margin: 25px 15px;
	}
	.section3 {
		margin-top: 100px;
	}
	.section3-banner-m {
		right: -30px;
	}
	.section4,
	.section5 {
		margin-top: 100px;
	}
	.section4-title {
		margin-left: 15px;
	}
	.client-img {
		width: 100px;
	}
	.our-client {
		padding-left: 20px;
		margin-top: 70px;
	}
	.our-client-2 {
		margin-top: 70px;
		justify-content: center;
	}
	.our-work-card {
		width: 350px;
	}
	.btn-learn-more {
		height: 56px;
		left: 180px;
	}
	.btn-submit {
		height: 50px;
		padding-top: 11px;
	}
	.btn-submit .arrow {
		width: 50px;
		height: 50px;
		padding-top: 11px;
	}
	.social-media {
		font-size: 24px;
	}

	/* About Page */

	.about-hero-title-m,
	.about-sec2-title,
	.about-sec3-title {
		font-size: 36px;
	}
	.about-hero-title-m {
		padding-bottom: 20px;
	}
	.about-hero-text {
		margin: 0px auto 13px;
	}
	.hero-card {
		width: 300px;
	}
	.about-sec2-title {
		margin-right: 33px;
	}
	.about-section2-line,
	.about-section3-line {
		width: 120px;
		height: 6px;
	}
	.about-section3 {
		min-height: 730px;
		margin-bottom: 0px;
	}
	.about-sec3-text {
		margin: 20px auto 60px;
	}
	.about-sec3-img1 {
		width: 200px;
	}
	.about-sec3-img2 {
		width: 160px;
		top: 100px;
		left: 100px;
	}
	.about-sec3-img3 {
		width: 150px;
		top: 20px;
	}

	/* Contact Page */

	.contact-hero-img {
		max-width: 380px;
	}
	.contact-hero-form-text,
	.contact-sec2-text {
		max-width: 360px;
	}
	.contact-maps-detail {
		max-width: 350px;
	}
}

@media (max-width: 400px) {
	.contact-hero-title,
	.contact-hero-form-title,
	.contact-sec2-title {
		font-size: 36px;
	}
	.contact-hero-text,
	.contact-hero-form-text,
	.contact-sec2-text {
		font-size: 14px;
	}
}

@media (max-width: 360px) {
	.navbar-brand {
		padding-left: 15px;
	}
	.navbar-toggler {
		margin-right: 10px;
	}
	.hero-text,
	.section2-header,
	.section2-card-wrapper,
	.section3-header,
	.section5-heading,
	.our-work-content {
		padding-left: 0px;
	}
	.section2-card-wrapper {
		margin: 50px auto;
	}
	.hero-paragraph {
		width: 278px;
	}
	.hero-btn,
	.sec3-card,
	.section4-title {
		margin-left: 0px;
	}
	.section3-banner-m {
		right: 40px;
		height: 275px;
		bottom: -250px;
	}
	.sec3-card-wrapper {
		margin-top: 280px;
	}
	.client-img {
		width: 75px;
	}
	.our-work-card {
		width: 300px;
	}
	.btn-learn-more {
		left: 120px;
		width: 180px;
		padding-left: 25px;
	}
	.arrow-learn {
		height: 55px;
		padding-top: 14px;
	}

	/* About Page */

	.about-hero-text,
	.hero-card-text,
	.about-sec2-card-text,
	.about-sec3-text {
		font-size: 14px;
	}
	.about-sec2-card-title {
		font-size: 18px;
	}
	.about-sec3-title {
		margin-right: 10px;
	}
	.about-section3-line {
		margin-bottom: 5px;
	}
	.about-sec3-img1 {
		left: 10px;
	}
	.about-sec3-img3 {
		right: 10px;
	}

	/* Contact Page */

	.contact-hero-img {
		max-width: 300px;
	}
	.contact-hero-text,
	.contact-hero-form-text,
	.contact-maps-detail {
		max-width: 280px;
	}
	.contact-sec2-title {
		margin-bottom: 10px;
	}
	.contact-section2-line {
		margin-bottom: 20px;
	}
}

@media (max-width: 340px) {
	.contact-hero-title,
	.contact-hero-img,
	.contact-hero-form-text,
	.form-subs input,
	.contact-sec2-text {
		max-width: 270px;
	}
}

@media (max-width: 320px) {
	.hero-banner-m {
		width: 320px;
	}
	.our-work-card {
		width: 280px;
	}
	.arrow-learn {
		height: 56px;
	}

	/* About Page */

	.about-sec3-title {
		margin-right: 0px;
	}
}

/* Retina JS */

