html, body {
	overflow-x: hidden;
}

body {
	background-color: #F2F2F2;
	position: relative;
	font-family: "Maven-Pro-Regular";
	color: #000000;
}

/* Font */
@font-face {
	font-family: "Butler-Bold";
	src: url(./assets/font/Butler-Bold.woff2) format('woff2');
}

@font-face {
	font-family: "Maven-Pro-Bold";
	src: url(./assets/font/Maven-Pro-Bold.woff2) format('woff2');
}

@font-face {
	font-family: "Maven-Pro-Regular";
	src: url(./assets/font/Maven-Pro-Regular.woff2) format('woff2');
}

/* Butler Bold */
.hero-title, 
.section2-title, 
.what-card-title, 
.section3-title, 
.sec3-card-title, 
.section4-title, 
.section5-title,
.our-work-title,
.form-title,
.social-media,
.about-hero-title,
.hero-card-title,
.about-sec2-title,
.about-sec2-card-title,
.about-sec3-title,
.services-hero-title,
.services-hero-card-title,
.services-sec2-card-title,
.contact-hero-title,
.contact-hero-form-title {
	font-family: "Butler-Bold";
}

/* Navbar */

.navbar {
	height: 70px;
	padding-left: 85px;
	background: #FBFBFB;
}

.scrolled {
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
}

.navbar-brand {
	padding-top: 0px;
}

.nav-link {
	color: #000000 !important;
	font-size: 20px;
	line-height: 23px;
	margin-right: 83px;
}

.nav-link:nth-child(4) {
	margin-right: 65px;
}

.nav-link:hover {
	font-family: "Maven-Pro-Bold";
}

.active {
	font-family: "Maven-Pro-Bold";
	transform: translate(0px, -1px);
}

.active::after {
	content: '';
	display: block;
	background-color: #000000;
	width: 5px;
	height: 5px;
	margin: auto;
	margin-top: 7px;
	margin-bottom: -6px;
	border-radius: 2.5px;
}

/* Hero */

.bg-oval {
	position: absolute;
	left: -0px;
	top: -100px;
	z-index: -100;
}

.bg-dots {
	position: relative;
	left: 1000px;
	top: 720px;
	mix-blend-mode: normal;
	opacity: 0.7;
}

.hero {
	margin-top: -160px;
	position: relative;
	height: 100vh;
}

.hero-text {
	background-color: #FFFFFF;
	width: 484px;
	height: 400px;
	padding: 50px 43px 40px 43px;
}

.hero-title {
	width: 397px;
	font-size: 56px;
	line-height: 64px;
	text-align: left;
}

.hero-banner-m {
	margin-left: -30px;
	width: 100%;
}

.hero-line {
	margin-top: 36px;
	margin-bottom: 30px;
	height: 4px;
	width: 110px;
	background-color: #000000;
	display: block;
}

.hero-paragraph {
	width: 400px;
	text-align: left;
	font-size: 16px;
	line-height: 24px;
}

.hero-btn {
	width: 240px;
	height: 60px;
	color: #FFFFFF;
	background-color: #FF6A6A;
	border-radius: 0px;
	margin-top: 80px;
	padding-top: 17px;
	padding-left: 47px;
	text-align: left;
	position: relative;
	transition: .4s;
}

.hero-btn:hover {
	color: #FFFFFF;
	opacity: 0.9;
	transform: translate(0, -10px);
	box-shadow: 0 3px 12px #FF6A6A;
}

.arrow {
	width: 60px;
	height: 60px;
	text-align: center;
	padding-top: 17px;
	top: -1px;
	right: -1px;
	position: absolute;
	background-color: #FF9C9C;
}

.arrow img {
	width: 20px;
	height: 20px;
}

.hero-banner {
	position: absolute;
	top: 148px;
	left: 540px;
}

/* Section 2 */

.section2 {
	margin-top: 188px;
	position: relative;
}

.bg-dots2 {
	position: absolute;
	left: 0;
	top: 1700px;
	z-index: -10;
}

.bg-rectangle {
	position: absolute;
	top: 1140px;
	right: -30px;
	z-index: -10;
}

.section2-title {
	font-size: 56px;
	line-height: 70px;
}

.section2-line {
	width: 120px;
	height: 8px;
	display: block;
	margin-top: 20px;
	background-color: #000000;
}

.section2-card-wrapper {
	margin-top: 114px;
}

.what-card {
	max-width: 246px;
	margin-right: 10px;
	background-color: transparent;
	border: none !important;
}

.what-card-ic {
	width: 72px;
	height: 72px;
	margin: 0px auto 26px 0px;
}

.what-card-title {
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 13px;
}

.what-card-text {
	width: 220px;
	font-size: 16px;
	text-align: left;
	line-height: 22px;
	letter-spacing: 1.4px;
}

/* Section 3 */

.section3 {
	margin-top: 226px;
	height: 900px;
}

.section3-banner {
	position: absolute;
	left: -82px;
	top: 1900px;
	z-index: -10;
}

.sec3-bg-dots {
	position: absolute;
	z-index: -100;
	top: 2350px;
	left: 450px;
}

.section3-header {
	background-color: #FFFFFF;
	width: 440px;
	height: 280px;
	padding: 32px 40px; 
}

.section3-title {
	font-size: 40px;
	line-height: 64px;
	margin-bottom: 56px;
}

.section3-subtitle {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1.6px;
}

.sec3-card {
	background-color: #FFFFFF;
	padding: 30px 30px;
	border: none;
	height: 320px;
	margin-bottom: 36px;
	transition: .3s;
}

.sec3-card:hover {
	transform: translate(0, -10px);
	box-shadow: 0px 2px 100px rgba(0, 0, 0, 0.1);
}

.sec3-card-ic {
	width: 72px;
	height: 72px;
	margin-bottom: 26px;
}

.sec3-card-title {
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 2.1px;
}

.sec3-card-text {
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1.4px;
}

/* Section 4 */

.section4 {
	margin-top: -90px;
}

.bg-4-dots {
	margin-top: 100px;
}

.bg-4-left {
	position: absolute;
	left: -30px;
	margin-top: 200px;
	z-index: -12;
}

.bg-4-right {
	position: absolute;
	right: 0;
	top: 2350px;
}

.section4-title {
	font-size: 56px;
	line-height: 64px;
	margin-bottom: 40px;
}

.section4-line {
	width: 180px;
	height: 6px;
	background-color: #000000;
	display: block;
	margin:  0px auto;
	padding-left: -20px;
}

.our-client {
	margin-top: 140px;
}

.client-img {
	margin-bottom: 148px;
}

.toyota {
	margin-left: 150px;
}

.jack {
	margin-right: 150px;
}

/* Section 5 */

.section5 {
	margin-top: 180px;
}

.bg-dots5 {
	position: absolute;
	right: 200px;
	top: 3980px;
	z-index: -10;
}

.bg-dots5-2 {
	position: absolute;
	left: 30px;
	top: 4400px;
	z-index: -10;
}

.section5-heading {
	margin-bottom: 134px;
}

.section5-title {
	font-size: 56px;
	line-height: 64px;
	display: inline;
	margin-right: 100px;
}

.section5-line {
	background-color: #000000;
	height: 8px;
	width: 140px;
	display: inline-block;
}

.our-work-content {
	padding-left: 105px;
}

.our-work-card {
	width: 400px;
	height: 450px;
	margin-bottom: 300px;
	border-radius: 0;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.card-img-top {
	border-radius: 0;
}

.our-work-title {
	font-size: 24px;
	line-height: 29px;
	margin-top: 28px;
	margin-bottom: 14px;
}

.our-work-text {
	max-width: 374px;
	height: 96px;
	font-size: 14px;
	line-height: 24px;
}

.btn-learn-more {
	width: 220px;
	height: 65px;
	top: 25px;
	left: 230px;
	color: #FFFFFF;
	background-color: #FF6A6A;
	border-radius: 0px;
	padding-top: 12px;
	padding-left: 47px;
	text-align: left;
	position: relative;
	transition: .4s;
}

.btn-learn-more:hover {
	color: #FFFFFF;
	opacity: 0.9;
	transform: translate(0, -10px);
	box-shadow: 0 3px 12px #FF6A6A;
}

.arrow-learn {
	width: 50px;
	height: 50px;
	text-align: center;
	padding-top: 12px;
	top: -1px;
	right: -1px;
	position: absolute;
	background-color: #FF9C9C;
}

/* Section 6 */

.section6 {
	margin-top: 180px;
	margin-bottom: 300px;
}

.bg-oval6 {
	position: absolute;
	right: 0;
	top: 4600px;
	z-index: -10;
}

.bg-form {
	position: absolute;
	left: -50px;
	top: 5276px;
	z-index: 1;
}

.bg-dots6 {
	position: absolute;
	left: 200px;
	z-index: -10;
	top: 5530px;
}

.form-wrapper {
	background-color: #FFFFFF;
	width: 960px;
	height: 680px;
	margin: auto;
	padding: 40px;
	position: relative;
	box-shadow: 0px 150px 201px rgba(192, 192, 192, 0.5);
}

.form-title {
	font-size: 56px;
	line-height: 64px;
}

.form-label {
	display: block;
	margin-top: 30px;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 1.4px;
	color: #9B9B9B;
}

.form-input {
	min-width: 369px;
	height: 56px;
	padding: 20px; 
}

.form-input::placeholder,
.form-textarea::placeholder {
	color: #cccccc;
	font-family: "Maven-Pro-Regular";
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 1.4px;
}

.form-textarea {
	overflow: hidden;
	padding: 20px;
	text-align: left; 
	min-width: 369px;
}

.btn-submit {
	width: 220px;
	height: 60px;
	color: #FFFFFF;
	position: absolute;
	background-color: #FF6A6A;
	border-radius: 0px;
	bottom: -105px;
	right: -25px;
	padding-top: 17px;
	padding-left: 53px;
	text-align: left;
	transition: .4s;	
}

.btn-submit:hover {
	color: #FFFFFF;
	opacity: 0.9;
	transform: translate(0px, -10px);
	box-shadow: 0 3px 12px #FF6A6A;
}

/* Footer */

.footer {
	z-index: 1;
}

.social-media {
	font-size: 36px;
	line-height: 64px;
	text-align: center;
}

.social-media-icons {
	margin-top: 50px;
}

.ic-social {
	display: inline-flex;
	width: 24px;
	height: 24px;
	cursor: pointer;
	transition: .4s;
}

.ic-social:hover {
	transform: translate(0px, -10px);
}

.copyright {
	font-size: 14px;
	line-height: 16px;
	margin-top: 70px;
	padding-bottom: 60px;
}







/* ABOUT PAGE */

/* About Hero */

.about-hero-bg {
	position: absolute;
	left: -60px;
	top: 0;
	z-index: -10;
}

.about-bg-dots {
	position: absolute;
	right: 20px;
	top: 760px;
	z-index: -10; 
}

.about-hero {
	margin-top: 80px;
}

.about-hero-title {
	font-size: 56px;
	line-height: 70px;
	text-align: center;
	padding-bottom: 68px;
}

.about-hero-text {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1.6px;
	text-align: center;
	max-width: 600px;
	margin: auto;
}

.hero-card-wrapper {
	width: 760px;
	margin: 142px auto 0px;
}

.hero-card {
	border-radius: 0;
	padding: 40px;
	width: 300px;
	height: 260px;
	box-shadow: 0px 2px 100px rgba(0, 0, 0, 0.1);
	transition: .4s;
}

.hero-card:hover {
	transform: translate(0px, -15px);
	z-index: 1;
	box-shadow: 0px 5px 100px rgba(0, 0, 0, 0.3);
}

.card2 {
	margin-top: 180px;
}

.card3 {
	margin-top: -50px;
}

.hero-card-title {
	padding-bottom: 30px;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 2.1px;
}

.hero-card-text {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1.6px;
}

/* About Section 2 */

.about-section2 {
	margin-top: 342px;
	min-height: 2370px;
} 

.bg-about-sec2-left {
	position: absolute;
	left: 0;
	z-index: -10;
}

.bg-about-sec2-center {
	position: absolute;
	left: 140px;
	top: 2900px;
	z-index: -10;
}

.bg-about-sec2-center-top {
	position: absolute;
	left: 400px;
	top: 1730px;
	z-index: -10;
}

.bg-about-sec2-center-bottom {
	position: absolute;
	left: 570px;
	top: 3320px;
	z-index: -10;
}

.bg-about-sec2-right {
	position: absolute;
	right: 0;
	top: 1300px;
	z-index: -10;
}

.about-sec2-title {
	font-size: 56px;
	line-height: 67px;
	display: inline-block;
	margin-right: 53px;
}

.about-section2-line {
	width: 150px;
	height: 8px;
	background-color: #000000;
	display: inline-block;
	margin-bottom: 10px;
}

.about-sec2-card-wrapper {
	margin-top: 30px;
}

.about-sec2-card {
	background-color: #FFFFFF;
	width: 430px;
	height: 400px;
	border-radius: 0;
	padding: 180px 30px 30px;
	position: relative;
}

.about-sec2-card-img {
	position: absolute;
	left: 0;
	bottom: 250px;
}

.about-sec2-card-title {
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 10px;
}

.about-sec2-card-text {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1.4px;
}

.sec2-card-icon-wrapper {
	justify-content: center;
	padding-top: 62px;	
}

.sec2-card-ic {
	width: 24px;
	height: 24px;
	margin-right: 40px;
	cursor: pointer;
	transition: .4s;
}

.sec2-card-ic:hover {
	transform: translate(0px, -10px);
}

.sec2-card1 {
	margin-top: 350px;
}

.sec2-card2 {
	margin-top: 612px;
}

.sec2-card3 {
	margin-top: 323px;
}

.sec2-card4 {
	margin-top: 552px;
}

/* About Section 3 */

.about-section3 {
	margin-top: 140px;
	margin-bottom: 200px;
	min-height: 930px;
}

.about-sec3-title {
	font-size: 56px;
	line-height: 67px;
}

.about-sec3-text {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1.6px;
	max-width: 700px;
	margin: 60px auto 112px ;
}

.about-sec3-img-wrapper {
	position: relative;
}

.about-sec3-img1 {
	position: absolute;
	left: 0;
}

.about-sec3-img2 {
	position: absolute;
	left: 230px;
	top: 300px;
}

.about-sec3-img3 {
	position: absolute;
	right: 0;
	top: 100px;
}

/* SERVICES PAGE */

/* Services Hero */

.services-hero {
	margin-top: 80px;
}

.bg-service-hero-right {
	position: absolute;
	right: 0;
	z-index: -10;
}

.bg-services-hero-dots1 {
	position: absolute;
	right: 20px;
	top: 180px;
	z-index: -10;
}

.bg-services-hero-dots2 {
	position: absolute;
	left: 50px;
	top: 850px;
	z-index: -10;
}

.services-hero-header {
	padding-left: 110px;
}

.services-hero-title {
	font-size: 56px;
	line-height: 70px;
	width: 692px;
}

.services-hero-text {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1.6px;
	width: 600px;
	padding-top: 30px;
}

.services-hero-slider {
	padding-top: 340px;
}

.services-hero-card {
	position: relative;
	width: 670px;
	border-radius: 0;
	padding: 30px;
}

.card1 {
	margin-left: 300px;
}

.services-hero-card-title {
	font-size: 34px;
	line-height: 41px;
}

.services-hero-card-text {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1.6px;
	width: 600px;
	font-family: "Maven-Pro-Regular";
}

.services-hero-card-img {
	position: absolute;
	bottom: 50px;
	left: 0;
	z-index: -10;
	box-shadow: 0px 10px 60px rgba(1, 71, 177, 0.291185);
}

.arroww-wrapper {
	padding-right: 330px;
}

.arroww-left,
.arroww-right {
	width: 80px;
	height: 80px;
	cursor: pointer;
	transition: .3s;
}

.arroww-left:hover,
.arroww-right:hover {
	transform: scale(1.2);
}

/* Services Section 2 */

.services-section2 {
	margin-top: 140px;
	margin-bottom: 186px;
}

.services-sec2-card {
	border-radius: 0;
	background-color: transparent;
}

.ic-card-wrapper {
	width: 70px;
}

.services-sec2-card-title {
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 18px;
}

.services-sec2-card-text {
	width: 650px;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 1.6px;
}

.bg-footer {
	position: absolute;
	left: 0;
	bottom: 0;
}


/* CONTACT PAGE */

/* Contact Hero */

.contact-hero {
	margin-top: 80px;
	min-height: 750px;
}

.bg-contact-hero {
	position: absolute;
	right: -50px;
	top: 0;
	z-index: -10;
}

.bg-contact-hero-dots {
	position: absolute;
	right: 35px;
	top: 730px;
	z-index: -10;
}

.contact-hero-header {
	padding-left: 100px;
}

.contact-hero-title {
	font-size: 56px;
	line-height: 70px;
	width: 600px;
	margin-bottom: 20px;
}

.contact-hero-text {
	width: 600px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1.6px;
}

.contact-hero-img-wrapper {
	position: relative;
}

.contact-hero-img {
	position: absolute;
	left: 100px;
}

.contact-hero-bottom {
	margin-top: 42px;
}

.contact-hero-form {
	width: 542px;
	padding: 40px;
	background-color: #FFFFFF;
}

.contact-hero-form-title {
	font-size: 56px;
	line-height: 67px;
	margin-bottom: 22px;
}

.contact-hero-form-text {
	width: 446px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1.6px;
}

.form-subs {
	margin-top: 34px;
}

.form-subs label {
	margin-top: 15px;
	display: block;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 1.4px;
	color: #9B9B9B;
}

.form-subs input {
	display: block;
	width: 369px;
	height: 56px;
	padding: 20px;
	margin-bottom: 73px;
}

.form-subs input::placeholder {
	color: #cccccc;
}

.btn-subs {
	width: 230px;
	height: 60px;
	color: #FFFFFF;
	background-color: #FF6A6A;
	border-radius: 0px;
	padding-top: 17px;
	padding-left: 47px;
	text-align: left;
	position: relative;
	transition: .4s;
}

.btn-subs:hover {
	color: #FFFFFF;
	opacity: 0.9;
	transform: translate(0, -10px);
	box-shadow: 0 3px 12px #FF6A6A;
}

.arrow-btn-subs {
	width: 60px;
	height: 60px;
	text-align: center;
	padding-top: 17px;
	top: -1px;
	right: -1px;
	position: absolute;
	background-color: #FF9C9C;
}

/* Contact Section2 */

.contact-section2 {
	padding-top: 170px;
	margin-bottom: 644px;
}

.bg-contact-sec2 {
	position: absolute;
	left: -50px;
	top: 1000px;
	z-index: -10;
}

.bg-contact-sec2-dots {
	position: absolute;
	right: 10px;
	bottom: 930px;
}

.contact-maps-detail {
	width: 840px;
	height: 560px;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.047243);
}


/* BLOG PAGE */

/* Blog Hero */

.blog-hero {
	margin-top: 80px;
}

.blog-category-wrapper {
	max-width: 836px;
	margin: 0px auto 96px;
}

.category {
	font-size: 24px;
	line-height: 28px;
}
